.jumbotron {
	background: #FFF2F2;
}
body {
	background: #FFE7E7;
}

.container h1 {
	font-size: 80px;
	font-family: 'Lobster', cursive;]

}

.nav a {
	font-size: 10px;
	color: black;

}

.navbar-header a {
	color: black;
	font-family: 'Lobster', cursive;
}

.form {
	padding: 10px;
	text-align: center;
}

#carouselHattie {
	width: 500px;
	height: 500px;
}



