
.jumbotron {
	background: #fff2f2;
}

body {
	background: #FFE7E7 ;
}

footer {
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 10px;
	background: #FFE7E7;
	text-align: center;
}

.container h1 {
	font-size: 80px;
	font-family: 'Lobster', cursive;]

}

.catrinclass {
	background: url(../world_pink.jpg);
	size: cover;
	padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    width: relative;
    height: 600px;
    color: inherit;
    text-align: center;
    font-size: 20px;
}

.nav a {
	font-size: 10px;
	color: black;

}

.navbar-header a {
	color: black;
	font-family: 'Lobster', cursive;
}

.right {
    position: absolute;
    right: 0px;
    padding: 10px;
}

.form {
	padding-top: 130px;
	padding-bottom: 30px;	
	text-align: center;
}

#map a {
  color: black;
  
}

#map h3 {
	font-family: 'Lobster', cursive;
}

.aboutMe img {
	padding: 5px;
}
.aboutMe p {
	padding: 5px 20px 20px 20px;
}


