.jumbotron {
	background: #FFE7E7;
}
.container {
	background: #FFE7E7;
	
}
.container h1 {
	font-size: 80px;
	font-family: 'Lobster', cursive;]

}


.nav a {
	font-size: 10px;
	color: black;

}

.navbar-header a {
	color: black;
	font-family: 'Lobster', cursive;
}




